{% extends "subadmintemplates/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        
                        <div class="col-md-6 col-xl-4">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <div><i class="fas fa-circle text-c-green f-10 m-r-15"></i><h6 style="display: inline;" class="mb-4">Total Users</h6></div>
                                    <div style="padding-top: 18px;" class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h2 class="f-w-300 d-flex align-items-center m-b-0">{{user_cnt}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <div><i class="fas fa-circle text-c-green f-10 m-r-15"></i><h6 style="display: inline;" class="mb-4">Total Courses</h6></div>
                                    <div style="padding-top: 18px;" class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h2 class="f-w-300 d-flex align-items-center m-b-0">{{courses}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card daily-sales">
                                <div class="card-block">
                                    <div><i class="fas fa-circle text-c-green f-10 m-r-15"></i><h6 style="display: inline;" class="mb-4">Total Videos</h6></div>
                                    <div style="padding-top: 18px;" class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h2 class="f-w-300 d-flex align-items-center m-b-0">{{tvid}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
