{% extends "subadmintemplates/layouts/base.html" %}

{% block title %} Users {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="static/subadminstatic/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}

{% block content %}

<div class="col-xl-10 col-md-6" style="padding-top: 50px;padding-left:50px">
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>My Articles</h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr class="unread">
                            <!-- <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td> -->
                        
                                <th scope="col" style="padding-left: 20px;">Title</th>
                                <!-- <p class="m-0">Lorem Ipsum is simply…</p> -->
                            
                                
                                <!-- <p class="m-0">Lorem Ipsum is simply…</p> -->
                            
                                <th scope="col" style="padding-left: 60px;">Action</th>
                
                            <!-- <td><a href="#!" class="label theme-bg2 text-white f-12">Deactivate</a><a href="#!" class="label theme-bg text-white f-12">Remove</a></td> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in articles %}
                            <tr class="unread">
                                <!-- <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td> -->
                                <td>
                                    <h6 class="mb-1" style="padding-left: 10px;">{{x.title}}</h6>
                                    <!-- <p class="m-0">Lorem Ipsum is simply…</p> -->
                                </td>
                                <td><a href="#!" class="label theme-bg2 text-white f-12">Edit</a><a href="#!" class="label theme-bg text-white f-12">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card Recent-Users">
        <div class="card-header">
            <h5>Write an article</h5>
        </div>
        <div class="card-block px-0 py-3">
            <form action="my_articles" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.media }}
                {{ form.as_p }}
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
