@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgba(161, 224, 97, 0.62);
  font-family: Roboto; 
}
.register {
  display: flex;
  margin: 100px 0px;
}
.register-wrapper {
  background: #F7F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
.register h1 {
  background: #5BD820;
  width: 100%;
  margin: 0px;
  padding: 30px 25px;
  text-align: center;
  font-size: xx-large;
}

.register-form {
  display: flex;
  flex-direction: row;
  padding: 30px;
  position: relative;
  padding-bottom: 80px;
}
.register-form-label {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.register-form-label li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px;
}
.register-form-label p {
  margin: 0 0 0 6px;
  font-size: large;
  font-weight: bold;
}
.register-form form {
  display: flex;
  flex-direction: column;
}
.register-form input {
  padding: 8px 10px;
  margin: 7px 0px;
  border: none;
  background: #C4C4C4;
  border-radius: 5px;
}
.btn {
  position: absolute;
  background: #5BD820 !important;
  border-radius: 20px !important;
  border: none !important;
  margin: 10px !important;
  padding: 15px 30px !important;
  font-size: large;
}
.btn:hover {
  background: #5BF820 !important;
}

.register-form-submit {
  bottom: 10px;
  left: 70px;
}
.register-form-back {
  bottom: 10px;
  right: 70px;
}
