
    <div class="sidebar" style="padding-top: 150px;">
        <ul>
            <a href="blogs"><li id="for-border-top">All Blogs</li></a>
            <a href="write-a-blog"><li>Write A Blog</li></a>
            <a href="my-blogs"><li>My Blogs</li></a>
            <a href="bookmarked-blogs"><li>Bookmarked Blogs</li></a>
            <a href="#"><li>Following</li></a>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

