<div class="sidebar-right" style="padding-left:50px;">
    <h3 style="color: green; font-weight:600; font-family: 	'Times New Roman', Times, serif;">Following
    </h3>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="#">
                    <h4>Faiazur Rahman</h4>
                </a>
                <h6 class="text-muted">krishi officer rajshahi</h6>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <h4>Faiazur Rahman</h4>
                </a>
                <h6 class="text-muted">krishi officer rajshahi</h6>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <h4>Faiazur Rahman</h4>
                </a>
                <h6 class="text-muted">krishi officer rajshahi</h6>
            </li>
        </ul>
    </div>
</div>