
    <div class="sidebar" style="width:270px;padding-top: 60px; background-color:#405b93;">
        <h3 class="mb-5 pt-4" style="height:80px;color: black; background-color:white; text-align:center;"><strong>KrishiBari instructor</strong></h3>
        <ul>
            <a href="{% url 'instructor-course' %}"><li id="for-border-top">My courses</li></a>
            <a href="#"><li>Total enrolled</li></a>
            <a href="#"><li>My Article</li></a>
            <a href="#"><li>Community</li></a>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

